#welcome_header
{
	padding: 20px;
	float: left;
	text-align: left;
	border-radius: 15px;
	width: 700px;
	margin-top: 4%;
}
#welcome_header span
{
	text-align: center;
	font-size: 2.4em;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 4px;
}
#signup
{
	float: right;
	margin-right: 20px;
	margin-top: 4%;
}