<!-- Navigation bar -->
<div id="nav">
	<ul class="nav nav-pills nav-stacked">
	  <li id="home" role="presentation"><a href="/index.php">Home</a></li>
	  <li id="profile" role="presentation"><a href="/profile.php">Profile</a></li>
	  <li id="about" role="presentation"><a href="/about.php">About</a></li>
	  <li id="timesheet" role="presentation"><a href="/timesheet.php">Timesheet</a></li>
	  <li id="settings" role="presentation"><a href="/settings.php">Settings</a></li>
	  <li id="contact" role="presentation"><a href="/contact.php">Contact</a></li>
	</ul>
</div>
